/* Operaciones */

.operaciones {
    margin-top: 10px;
    margin-left: 2px;
    .col {
        font-family: Montserrat-Semibold;
        font-size: 13px;
        background-color: white;
        p,
        i {
            display: inline;
        }
        i {
            margin-left: 10px;
        }
    }
}

.detallesOperaciones {
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 .5rem 1rem rgba(159, 150, 240, 0.15)!important;
    img {
        width: 100%;
        height: 65px;
    }
    .detalles {
        margin-top: 10px;
    }
    .kpiPerdidos {
        color: rgb(34, 34, 247);
        font-size: 35px;
    }
    .kpiCancelados {
        color: rgb(247, 119, 34);
        font-size: 35px;
    }
    .kpiReembolsados {
        color: rgb(247, 215, 34);
        font-size: 35px;
    }
    .tiempo {
        height: 65px;
    }
    .kpiTiempo {
        font-size: 2em;
    }
    .kpiInactivos {
        color: rgb(209, 21, 14);
        font-size: 35px;
    }
    .kpiDetalles {
        margin-left: 15px;
        color: rgb(134, 134, 134);
        font-size: 12px;
    }
    .kpiAtencion {
        color: rgb(34, 126, 247);
        font-size: 12px;
    }
    .kpiPorcentajeBajada {
        color: rgb(230, 6, 6);
    }
    .kpiPorcentajeSubida {
        color: rgb(4, 165, 25);
    }
}

@media (max-width:850px) {
    .operaciones {
        .col {
            margin-top: 10px;
            width: 100vw;
        }
    }
}


/* Analisis de datos de venta */

.analisis {
    margin-left: 2px;
    .detallesAnalisis {
        padding: 25px;
        box-shadow: 0 .5rem 1rem rgba(159, 150, 240, 0.15)!important;
        font-family: Montserrat-Semibold;
        background-color: white;
        font-size: 13px;
        p,
        i {
            display: inline;
        }
        i {
            margin-left: 10px;
        }
        .col {
            padding: 25px
        }
    }
}

.detallesAnalisisGraficas {
    img {
        width: 100%;
    }
}

.nav-tabs {
    border-bottom: 3px solid rgb(238, 236, 236);
}

.nav-link.active {
    color: #0d6efd;
    border-color: transparent;
    border-bottom: 4px solid #0d6efd;
}

.nav-link {
    width: 33.3%;
    color: #495057;
}

.nav-link:focus {
    outline: none;
}


/* Articulos mas vendidos */

.articulos {
    margin-left: 2px;
    .detallesArticulos {
        padding: 35px;
        box-shadow: 0 .5rem 1rem rgba(159, 150, 240, 0.15)!important;
        font-family: Montserrat-Semibold;
        background-color: white;
        font-size: 13px;
        p,
        i {
            display: inline;
        }
        i {
            margin-left: 10px;
        }
        .col {
            padding: 25px
        }
    }
}

.table {
    font-family: Montserrat-Regular;
}

@media (max-width:850px) {
    .table {
        font-size: 0.5em;
    }
}

thead {
    border: 3px solid transparent;
}

.btn {
    font-size: 15px;
    font-family: Montserrat-Regular;
    padding-right: 3em;
    padding-left: 3em;
}

.categoria {
    font-family: Montserrat-Regular;
    div,
    p {
        display: inline;
    }
}

.color1 {
    background-color: #0d6efd;
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.color2 {
    background-color: #fde50d;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.color3 {
    background-color: #fd8d0d;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.color4 {
    background-color: #28a11d;
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.categoria {
    margin-top: 15px;
    canvas {
        margin-right: 30px;
    }
}