<div class="bg"></div>
<section class="">
    <div class="px-4 py-5 px-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0"></div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <h2 class="text-center montserrat-bold">Bienvenido a la experiencia Delivery para tu negocio</h2>
                            <p class="text-center montserrat-regular">Por favor, ingresa tus datos para conectarte</p>
                            <form>
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <input type="email" id="form3Example3" class="form-control" />
                                    <label class="form-label" for="form3Example3">Email address</label>
                                </div>

                                <!-- Password input -->
                                <div class="form-outline mb-4">
                                    <input type="password" id="form3Example4" class="form-control" />
                                    <label class="form-label" for="form3Example4">Password</label>
                                </div>

                                <!-- Submit button -->
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>