<div class="bg"></div>
<section class="">
    <div class="px-4 py-5 px-md-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0"></div>
                <div class="col-lg-4 mb-5 mb-lg-0 align-items-center">
                    <div class="card">
                        <div class="card-body py-5 px-md-5 text-center">
                            <img class="img-logo" src="../../../assets/img/temp/logoTotalPlay.png" alt="logoTotalPlay">
                            <p class="bold txt-principal">Bienvenido a la experiencia Delivery para tu negocio</p>
                            <p class="regular txt-descripcion">Por favor, ingresa tus datos para conectarte</p>
                            <form>
                                <!-- Numero de cuenta input -->
                                <div class="form__group field">
                                    <input type="input" class="form__field" placeholder="Número de cuenta Totalplay Go" required />
                                    <span class="fa fa-user-o input-icon"></span>
                                    <label for="name" class="form__label">Número de cuenta Totalplay Go</label>
                                </div>

                                <!-- Contraseña input -->
                                <div class="form__group field">
                                    <input type="password" class="form__field" placeholder="Contraseña" id="typepass" required />
                                    <span class="fa fa-lock input-icon"></span>
                                    <label for="name" class="form__label">Contraseña</label>
                                    <span [class]="iconPassword" id="viewPassword"></span>
                                </div>

                                <!-- Submit button -->
                                <div class="text-center">
                                    <a type="button" class="btn btn-custom" href="/inicio">
                                    Iniciar
                                    </a>
                                </div>
                                <div class="section-recuperar">
                                    <p class="light txt-subdescripcion">¿Olvidaste tu contraseña?</p>
                                    <p class="bold txt-link">Restablecer</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>