.bg {
    background-image: url(../../../assets/img/temp/login.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-filter: contrast(200%);
    filter: brightness( 30%);
}