.bg {
    background-image: url(../../../assets/img/temp/login.jpg);
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: contrast(200%);
    filter: brightness(30%);
}

.divForm {
    background-color: white;
}