.pedidos {
    background-color: white;
    padding: 50px;
    margin-left: 5px;
    margin-top: 15px;
}

thead {
    font-size: 0.9em;
    text-align: center;
}

tbody {
    font-size: 0.9em;
    td {
        text-align: center;
    }
    i {
        font-size: 1.5em;
        color: rgb(18, 18, 228);
    }
}

.btn-aceptado {
    font-family: Montserrat-Regular;
    font-size: 0.9em;
    border-radius: 30px;
    background-color: rgba(95, 204, 110, 0.5);
    color: rgb(3, 88, 3);
    border-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-perdido {
    font-family: Montserrat-Regular;
    font-size: 0.9em;
    border-radius: 30px;
    background-color: rgba(255, 246, 125, 0.5);
    color: rgb(148, 134, 6);
    border-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-cancelado {
    font-family: Montserrat-Regular;
    font-size: 0.9em;
    border-radius: 30px;
    background-color: rgba(252, 142, 142, 0.5);
    color: rgb(148, 6, 6);
    border-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

thead tr {
    border-bottom: 30px solid white;
}