<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/inicio">
            <img src="../../../assets/img/temp/logoTotalPlay.png" alt="" class="img-logo">
        </a>

        <div class="d-flex me-4 mt-3">
            <i class="fa fa-user-circle fa-2x me-2"></i>
            <div class="datosUser">
                <p>Diana Márquez <br>
                    <a href="/">Cerrar Sesión</a></p>
            </div>
        </div>
    </div>
</nav>