<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 navLateral">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="active">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-home"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-file-text-o"></i> <span class="ms-1 d-none d-sm-inline">Pedidos</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-window-maximize"></i> <span class="ms-1 d-none d-sm-inline">Restaurantes</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-cutlery"></i> <span class="ms-1 d-none d-sm-inline">Menú</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-money"></i> <span class="ms-1 d-none d-sm-inline">Pagos</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-line-chart"></i> <span class="ms-1 d-none d-sm-inline">Promociones</span> </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fa fa-cog"></i> <span class="ms-1 d-none d-sm-inline">Configuración</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>