<div class="filtros d-flex justify-content-end row">
    <select class="col form-select-inline">
            <option selected>Elegir restaurantes (franquicias)</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    <select class="col form-select-inline">
            <option selected><i class="fa fa-calendar"></i>01/14/2022 - 15/14/2022</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
</div>